<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
      		adaptable="true"
            objectClass="org.eclipse.core.resources.IFolder"
            id="net.servicestack.eclipse.addReference">
         <action
               label="Add ServiceStack Reference..."
               class="net.servicestack.eclipse.popup.actions.AddReferenceAction"
               menubarPath="additions"
               enablesFor="1"
               icon="icons/logo-16.png"
               id="net.servicestack.eclipse.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.servicestack.eclipse.commands.updateReferenceCommand"
            name="Update ServiceStack Reference">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.servicestack.eclipse.commands.updateReferenceCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer?after=additions">
         	<command
                commandId="net.servicestack.eclipse.commands.updateReferenceCommand"
                icon="icons/logo-16.png"
                id="net.servicestack.eclipse.menus.updateReferenceMenu"
                mnemonic="M">
                <visibleWhen>
				   <with
				     variable="selection">
				     <test
				            forcePluginActivation="true"
				            property="net.servicestack.eclipse.hasNonEmptyTextSelection"
				            value="true">
				     </test>
				   </with>
				</visibleWhen>
            </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="net.servicestack.eclipse.handlers.UpdateReferenceHandler"
            commandId="net.servicestack.eclipse.commands.updateReferenceCommand">
            <visibleWhen>
				   <with
				     variable="selection">
				     <test
				            forcePluginActivation="true"
				            property="net.servicestack.eclipse.hasNonEmptyTextSelection"
				            value="true">
				     </test>
				   </with>
				</visibleWhen>
      </handler>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.servicestack.eclipse.testers.SelectionTester"
            id="net.servicestack.eclipse.testers.selectionTester"
            namespace="net.servicestack.eclipse"
            properties="hasNonEmptyTextSelection"
            type="java.lang.Object">
      </propertyTester>
	</extension>>
</plugin>
