<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
      		adaptable="true"
            objectClass="org.eclipse.core.resources.IFolder"
            id="net.servicestack.eclipse.addReference">
         <action
               label="Add ServiceStack Reference..."
               class="net.servicestack.eclipse.popup.actions.AddReferenceAction"
               menubarPath="additions"
               enablesFor="1"
               icon="icons/logo-16.png"
               id="net.servicestack.eclipse.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.servicestack.eclipse.commands.sampleCommand"
            name="Update ServiceStack Reference">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="net.servicestack.eclipse.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         	<command
                commandId="net.servicestack.eclipse.commands.sampleCommand"
                icon="icons/logo-16.png"
                id="net.servicestack.eclipse.menus.sampleCommand"
                mnemonic="M">
                <enabledWhen>
				   <with
				     variable="selection">
				     <test
				            forcePluginActivation="true"
				            property="net.servicestack.eclipse.hasNonEmptyTextSelection"
				            value="true">
				     </test>
				   </with>
				</enabledWhen>
            </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="net.servicestack.eclipse.handlers.SampleHandler"
            commandId="net.servicestack.eclipse.commands.sampleCommand">
            <enabledWhen>
				   <with
				     variable="selection">
				     <test
				            forcePluginActivation="true"
				            property="net.servicestack.eclipse.hasNonEmptyTextSelection"
				            value="true">
				     </test>
				   </with>
				</enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="net.servicestack.eclipse.handlers.UpdateCommandState">
         <variable
               name="net.servicestack.eclipse.handlers.updatecommandstate.update"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         id="net.servicetack.eclipse.startup"
         point="org.eclipse.ui.startup">
      <startup
            class="net.servicestack.eclipse.startup.PluginStartup">
      </startup>
   </extension>
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="net.servicestack.eclipse.testers.SelectionTester"
            id="net.servicestack.eclipse.testers.selectionTester"
            namespace="net.servicestack.eclipse"
            properties="hasNonEmptyTextSelection"
            type="java.lang.Object">
      </propertyTester>
	</extension>>
</plugin>
